* {
  margin: 0px;
  padding: 0px;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  display: flex;
  align-items: center;
  width: 1866px;
  color: grey;
}
.div1 {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div2 {
  width: 900px;
  display: flex;
  align-items: center;
}
.div1 img {
  padding-left: 100px;
  width: 200px;
  height: 70px;
  position: sticky;
}
.div1 ul{
  color: grey;
}
.div1 a{
  padding-left: 50px;
  text-decoration: none;
  color:grey;
}

#mark {
  padding-left: 250px;
  cursor: pointer;
}
#valute {
  padding-left: 50px;
  cursor: pointer;

}
#profile {
  padding-left: 60px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  
}
#login {
  padding-left: 30px;
  color: #fe5f0a;
  cursor: pointer;
  text-decoration: none;
}
#eng {
  padding-left: 100px;
  color: grey;
  cursor: pointer;
  text-decoration: none;
}
#search {
  padding-left: 50px;
  cursor: pointer;

}

.link a{
  text-decoration: none;
  color: #fff;
}
.navbar2 {
  width: 100%;
  height: 50px;
  background-color: #fe5f0a;
  display: flex;
  align-items: center;
}
.link {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 400px;
}

.section{
    display: flex;
    width: 100%;
    margin: 30px 280px;
}
.picture{
  width: 1300px;
  height: 300px;
}
.picture img{
    position: absolute;
    width: 1290px;
    height: 300px;
    border-radius: 50px;
}
.text{
    position: absolute;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    padding: 60px 20px;
}

.text a{
  position: absolute;
  color: #fff;
  width: 90px;
  height: 30px;
  border-radius: 3px;
  margin: 120px 20px;
  background-color: #fe5f0a;
  text-decoration: none;
  cursor: pointer;
}
.section2{
  margin: 350px 0px;
  position: absolute;
  width: 1285px;
  height: 450px;
}
.div4{
  position: absolute;
  width: 570px;
  height: 450px;
  border: 1px solid grey;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}
.div4 img{
  width: 528px;
  height: 250px;
  padding: 20px;
}
.div4 a{
  text-decoration: none;
  color: #fe5f0a;
}
.text2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 600px;
  height: 50px;
  padding: 20px;
}
.text2 a{
  padding-top: 20px;
  padding-left: 20px;
}
.text2 p{
  padding-top: 10px;
}
.div5{
  width: 575px;
  height: 208px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0px 700px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.div5 img{
  position: absolute;
  width: 164px;
  height: 164px;
  padding: 0px 400px;
}
.text3{
  padding: 0px 30px;
}
.text3 a{
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  color: #fe5f0a;
  text-decoration: none;
}
.text3 h1{
  font-size: 20px;
  padding-bottom: 20px;
}

.div6{
  position: absolute;
  width: 575px;
  height: 208px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 30px 700px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.div6 img{
  position: absolute;
  width: 164px;
  height: 164px;
  padding: 0px 400px;
}
.text4{
  padding: 0px 30px;
}
.text4 a{
  position: absolute;
  padding-top: 5px;
  padding-left: 10px;
  color: #fe5f0a;
  text-decoration: none;
}
.text4 h1{
  font-size: 20px;
  padding-bottom: 20px;
}
.main1{
  position: absolute;
  width: 1288px;
  height: 200px;
  margin: 870px 0px;
}
.title {
  position:absolute;
  font-size: 20px;
}
.category{
  position: absolute;
  width: 1288px;
  height: 144px;
  display: flex;
  margin: 50px 0px;
  align-items: center;
  justify-content: space-between;
}
.students{
  width: 375px;
  height: 144px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: aliceblue;
  cursor: pointer;
}
.students img{
  position: absolute;
  width: 86px;
  height: 54px;
  padding-bottom: 40px;
}
.students p{
  padding-top: 40px;
}
.school{
  width: 375px;
  height: 144px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: aliceblue;
  cursor: pointer;
}
.school img{
  position: absolute;
  width: 86px;
  height: 54px;
  padding-bottom: 40px;
}
.school p{
  padding-top: 40px;
}
.emigrant{
  width: 375px;
  height: 144px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: aliceblue;
  cursor: pointer;
}
.emigrant img{
  position: absolute;
  width: 86px;
  height: 54px;
  padding-bottom: 40px;
}
.emigrant p{
  padding-top: 40px;
}
.main2{
  width: 1288px;
  height: 520px;
  position: absolute;
  margin-top: 1100px;
}
.title2{
  position: absolute;
  font-weight: bold;
}
.category2{
  position: absolute;
  width: 1288px;
  height: 440px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yellow {
  width: 375px;
  height: 440px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.yellow img {
  position: absolute;
  width: 325px;
  height: 250px;
  padding-top: 10px;
}
.text5{
  width: 360px;
  height: 100px;
  padding-top: 270px;
  padding-left: 10px;
}
.text5 h1{
  padding: 0px 0px 10px;
  font-size: 25px;
}
.text5 a{
  position: absolute;
  color: #fe5f0a;
  text-decoration: none;
  padding: 10px;
}
.green {
  width: 375px;
  height: 440px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.green img {
  position: absolute;
  width: 325px;
  height: 250px;
  padding-top: 10px;
}
.text6{
  width: 360px;
  height: 100px;
  padding-top: 270px;
  padding-left: 10px;
}
.text6 h1{
  padding: 0px 0px 10px;
  font-size: 25px;
}
.text6 a{
  position: absolute;
  color: #fe5f0a;
  text-decoration: none;
  padding: 10px;
}
.purple {
  width: 375px;
  height: 440px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.purple img {
  position: absolute;
  width: 325px;
  height: 250px;
  padding-top: 10px;
}
.text7{
  width: 360px;
  height: 100px;
  padding-top: 270px;
  padding-left: 10px;
}
.text7 h1{
  padding: 0px 0px 10px;
  font-size: 25px;
}
.text7 a{
  position: absolute;
  color: #fe5f0a;
  text-decoration: none;
  padding: 10px;
}

.baner{
  width: 1288px;
  height: 360px;
  border: 1px solid grey;
  border-radius: 20px;
  position: absolute;
  margin-top: 1700px;
  background-image: url(photo12.jpg);
}
.text8{
  position: absolute;
  padding: 50px;
}
.text8 p{
  font-size: 18px;
  padding-top: 10px;
}
.download{
  width: 520px;
  height: 140px;
  border: 1px solid grey;
  background-color: #fff;
  margin: 170px 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.code{
  position: absolute;
  width: 100px;
  height: 110px;
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin-left: 20px;
}
.code img{
  width: 75px;
  height: 75px;
}
.download h2{
  position:absolute;
  font-size: 20px;
  padding-left: 160px;
  padding-bottom: 70px;
}
.download p{
  position: absolute;
  padding-bottom: 20px;
  padding-left: 160px;
}
.play{
  padding-left: 160px;
  padding-top: 60px;
  cursor: pointer;
}
.app{
  padding-left: 80px;
  padding-top: 60px;
  cursor: pointer;
}
.main3{
  width: 1288px;
  height: 650px;
  border: 1px solid black;
  position: absolute;
  margin-top: 2100px;
}
.title3{
  position: absolute;
}
.calculator{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 90px;
  width: 1288px;
  height: 580px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: aliceblue;
}
.container{
  position: absolute;
  width: 1200px;
  height: 500px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.left{
  display: flex;
  justify-content: center;
  width: 520px;
  height: 440px;
  border: 1px solid grey;
  border-radius: 15px;
  margin-left: 50px;
}
.left input{
  width: 300px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 15px;
  margin-left: 100px;
  font-size: 20px;
  margin-top: 30px;
}
.right{
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 380px;
  border: 1px solid grey;
  border-radius: 15px;
  margin-left: 50px;
  background-color: aliceblue;
}
.right a{
  width: 450px;
  height: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.right ul{
  padding-top: 50px;
}
.span1{
  padding-left: 250px;
}
.span2{
  padding-left: 210px;
}
.span3{
  padding-left: 250px;
}
.span4{
  padding-left: 320px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 56px;
  border: 1px solid black;
  background-color: #fe5f0a;
  border-radius: 10px;
  margin-top: 30px;
}
.button a{
  font-size: 19px;
  padding-left: 150px;
  color: #fff;
}
.link1{
  color: #fe5f0a;
  padding: 20px 180px;
}
.main4{
  width: 1288px;
  height: 580px;
  position: absolute;
  margin-top: 2800px;
}
.title4{
  position: absolute;
  font-size: 24px;
}
.category3{
  position: absolute;
  width: 1288px;
  height: 500px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sell1{
  width: 420px;
  height: 340px;
  border: 1px solid grey;
  border-radius: 15px;
  cursor: pointer;
}
.sell1 img{
  position: absolute;
   width: 420px;
   height: 200px;
   border-radius: 15px;
}
.pricent{
  position: absolute;
  width: 65px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5f0a;
  margin: 20px 20px;
}
.pricent a{
  color: #fff;
  text-decoration: none;
}
.solo{
  position: absolute;
  width: 65px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 5, 99);
  margin: 130px 20px;
}
.solo a{
  color: #fff;
  text-decoration: none;
}
.sell1 h1{
  padding-top: 210px;
  font-size: 23px;
  padding-left: 20px;
}
.market{
  width: 90px;
  height: 25px;
  position: absolute;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  margin: 10px 20px;
}
.market a{
  text-decoration: none;
  color: #000;
}
.category3 p{
  padding: 50px 40px;
}
.category3 span{
  position: absolute;
  padding: 50px 15px;
}


.sell2{
  width: 420px;
  height: 340px;
  border: 1px solid grey;
  border-radius: 15px;
}
.sell2 img{
  position: absolute;
   width: 420px;
   height: 200px;
   border-radius: 15px;
}
.pricent{
  position: absolute;
  width: 65px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5f0a;
  margin: 20px 20px;
}
.pricent a{
  color: #fff;
  text-decoration: none;
}
.solo{
  position: absolute;
  width: 65px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 5, 99);
  margin: 130px 20px;
}
.solo a{
  color: #fff;
  text-decoration: none;
}
.sell2 h1{
  padding-top: 210px;
  font-size: 23px;
  padding-left: 20px;
}
.market{
  width: 90px;
  height: 25px;
  position: absolute;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  margin: 10px 20px;
}
.market a{
  text-decoration: none;
  color: #000;
}
.category3 p{
  padding: 50px 40px;
}
.category3 span{
  position: absolute;
  padding: 50px 15px;
}


.sell3{
  width: 420px;
  height: 340px;
  border: 1px solid grey;
  border-radius: 15px;
}
.sell3 img{
  position: absolute;
   width: 420px;
   height: 200px;
   border-radius: 15px;
}
.pricent{
  position: absolute;
  width: 65px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5f0a;
  margin: 20px 20px;
}
.pricent a{
  color: #fff;
  text-decoration: none;
}
.solo1{
  position: absolute;
  width: 95px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe5f0a;
  margin: 130px 20px;
}
.solo1 a{
  color: #fff;
  text-decoration: none;
}
.sell3 h1{
  padding-top: 210px;
  font-size: 23px;
  padding-left: 20px;
}
.market{
  width: 90px;
  height: 25px;
  position: absolute;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  margin: 10px 20px;
}
.market a{
  text-decoration: none;
  color: #000;
}
.category3 p{
  padding: 50px 40px;
}
.category3 span{
  position: absolute;
  padding: 50px 15px;
}

.shetavazeba{
  position: absolute;
  width: 220px;
  height: 55px;
  border: 1px solid grey;
  background-color: rgb(241, 237, 237);
  margin-top: 500px;
  margin-left: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shetavazeba a{
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.main5{
  width: 1288px;
  height: 660px;
  position: absolute;
  margin-top: 3500px;
}
.title5{
  font-size: 25px;
  position: absolute;
}

.category4{
  position: absolute;
  width: 1288px;
  height: 600px;
  border: 1px solid black;
  border-radius: 20px;
  margin-top:  100px;
  background-color: rgb(223, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left2{
  width: 515px;
  height: 485px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: #fff;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left2 input{
  margin: 40px 100px;
  width: 380px;
  height: 50px;
  font-size: 18px;
}
.left2 p{
  position: absolute;
  padding: 10px 100px;
  font-size: 20px;
}
.left2 h5{
  font-size: 18px;
  padding-left: 100px;
  padding-bottom: 60px;
}
.right2{
  width: 515px;
  height: 485px;
  border-radius: 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.right2 h1{
  position: absolute;
  padding-bottom: 450px;
  font-size: 23px;
}
.usd{
  width: 540px;
  height: 202px;
  border: 1px solid grey;
  border-radius: 15px;
  margin-top: 50px;
  background-color: #fff;
}
.euro{
  width: 540px;
  height: 202px;
  border: 1px solid grey;
  border-radius: 15px;
  margin-top: 50px;
  background-color: #fff;
}

.usd img{
  position: absolute;
  width: 44px;
  height: 44px;
}
.usd h2{
  font-size: 22px;
  padding: 10px 40px;
}
.usd p{
  padding: 10px;
}
.usd ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.ul2{
  padding: 10px 30px;
}
.buy{
  color: grey;
  position: relative;
  left: 180px;
  top: 40px;
}
.sell{
  position: relative;
  color: grey;
  left: 310px;
  top: 0px;
  
}
.euro img{
  position: absolute;
  width: 44px;
  height: 44px;
}
.euro h2{
  font-size: 22px;
  padding: 10px 50px;
}
.euro p{
  padding: 10px;
}
.ul4{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.ul3{
  position: absolute;
  padding: 10px 30px;
}
.buy2{
  color: grey;
  position: relative;
  left: 200px;
  top: 40px;
}
.sell20{
  position: relative;
  color: grey;
  left: 360px;
  top: 0px;
}
.cursi{
  position: relative; 
  margin-left: 170px;
  bottom: 40px;
}
.cursi2{
  position: relative; 
  left: 50px;
}
.main6{
  position: absolute;
  width: 1288px;
  height: 500px;
  margin-top: 4300px;
}
.title6{
  position: absolute;
  font-size: 37px;
}

.news{
  position: absolute;
  margin-top: 50px;
  width: 1288px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news1{
  width: 375px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 50px;
  cursor: pointer;
}
.news1 img{
  width: 325px;
  height: 208px;
}
.news1 h1{
  font-size: 22px;
  padding-top: 10px;
}
.news1 p{
  font-size: 18px;
  padding-top: 20px;
}
.news1 a{
  font-size: 17px;
  color: #fe5f0a;
  text-decoration: none;
  padding: 20px;
}


.news2{
  width: 375px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 50px;
  cursor: pointer;
}
.news2 img{
  width: 325px;
  height: 208px;
}
.news2 h1{
  font-size: 22px;
  padding-top: 10px;
}
.news2 p{
  font-size: 18px;
  padding-top: 20px;
}
.news2 a{
  font-size: 17px;
  color: #fe5f0a;
  text-decoration: none;
  padding: 20px;
}

.news3{
  width: 375px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 50px;
  cursor: pointer;
}
.news3 img{
  width: 325px;
  height: 208px;
}
.news3 h1{
  font-size: 22px;
  padding-top: 10px;
}
.news3 p{
  font-size: 18px;
  padding-top: 20px;
}
.news3 a{
  font-size: 17px;
  color: #fe5f0a;
  text-decoration: none;
  padding: 20px;
}

.button2{
  position: absolute;
  margin-top: 4900px;
  margin-left: 30%;
  width: 128px;
  height: 56px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.button2 a{
  text-decoration: none;
  color: black;
}
.footer{
  width: 1288px;
  height: 540px;
  position: absolute;
  margin-top: 5000px;
}
.footer2{
  width: 1288px;
  height: 420px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot1{
  position: absolute;
  width: 275px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.ul1{
  padding: 10px 20px;
  color: grey;
}
.ul1 a{
  color: grey;
  text-decoration: none;
}
.ul2{
  padding-left: 20px;
  color: grey;
}
.ul2 a{
  color: grey;
  text-decoration: none;
}
.foot2{
  position: absolute;
  width: 275px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-left: 285px;
}

.foot2 ul{
  padding: 10px 20px;
  color: grey;
}
.foot2 a{
  color: grey;
  text-decoration: none;
}
.foot3{
  position: absolute;
  width: 275px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-left: 570px;
}

.foot3 ul{
  padding: 10px 20px;
  color: grey;
}
.foot3 a{
  color: grey;
  text-decoration: none;
}
.footer img{
  position: absolute;
  padding: 470px 50px;
  width: 225px;
  height: 39px;
}
.footer h3{
  position: absolute;
  padding: 470px 500px;
}
.foot4{
  position: absolute;
  width: 275px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-left: 1000px;
}
.foot4 p{
  font-size: 20px;
  padding-top: 10px;
}

.a1 img{
  position: absolute;
  width: 40px;
  height: 40px;
  padding-top: 20px;
  padding-left: 10px;
  cursor: pointer;
}
.a2 img{
  position: absolute;
  width: 40px;
  height: 40px;
  padding-top: 20px;
  padding-left: 70px;
  cursor: pointer;
}
.a3  img{
  position: absolute;
  width: 40px;
  height: 40px;
  padding-top: 20px;
  padding-left: 130px;
  cursor: pointer;
}
.a4 img{
  position: absolute;
  width: 40px;
  height: 40px;
  padding-top: 20px;
  padding-left: 190px;
  cursor: pointer;
}
.sh{
  padding-top: 80px;
}
.play2{
  width: 125px;
  height: 40px;
  position: relative;
  bottom: 450px;
  right: 100px;
}
.app2{
  width: 95px;
  height: 40px;
  position: relative;
  bottom: 490px;
  left: 80px;
}
.foot4 input{
  margin-top: 10px;
  font-size: 18px;
  width: 180px;
  height: 32px;
  border-radius: 10px;
}